<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ me }}</title>
</head>
<body>
    <h1>My friend's name in the front is {{ name_0 }}</h1>
    <article>His NPM : {{ npm_0 }}</article>
    <article>He is {{ age_0 }} years old</article>
    <article>He is a {{ major }} student at {{ school }}</article>
    <article>His hobby is {{ hobby_0 }}</article>
    <article>He is {{ desc_0 }}</article>
    <br>
    <img src='{{ photo_0 }}'>
    <br>
    <br>
    <h1>My friend's name in the back is {{ name_1 }}</h1>
    <article>His NPM : {{ npm_1 }}</article>
    <article>He is {{ age_1 }} years old</article>
    <article>He is a {{ major }} student at {{ school }}</article>
    <article>His hobby is {{ hobby_1 }}</article>
    <article>He is {{ desc_1 }}</article>
    <br>
    <img src='{{ photo_1 }}'>
</body>
</html>
